/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

/* // reset */
/*  utility */
.icons i,
.new-messages .icon i,
.search i,
.chat-input i,
.chat-actions i {
    color: #B1B1B1;
    list-style-type: none;
}

.icons li,
.chat-input li,
.chat-actions li {
    list-style-type: none;
}

.icons i:hover,
.chat-input i:hover,
.chat-actions i:hover {
    color: #009688;
}

/* // utility */
/* common rules */
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(180deg, #009688 20%, #DADBD4 0%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    box-sizing: border-box;
}

/* // common rules */

/* specific rules */
.app,
.container {
    display: flex;
    height: 95%;
    width: 90%;
    margin: auto;
}

/* sidebar */
.sidebar {
    background-color: #f6f6f6;
    width: 30%;
    border-right: 1px solid #ddd;
}

/* user section */
.user {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10%;
    width: 100%;
    padding: 0.5rem;
}

.bg-user {
    background-color: #EAEAEA;
}

.user-image {
    width: 80%;
    display: flex;
    align-items: center;
    font-weight: bold;
}

.user-image img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius: 50%;
    object-fit: cover;
}

.icons {
    width: 20%;
    display: flex;
    justify-content: space-between;
}

/* // user section */
/* new messages */

.new-messages {
    display: flex;
    justify-content: start;
    cursor: pointer;
}

.new-messages:hover {
    background-color: #8EDAFC;
}

.icon {
    background-color: #ffffff;
    margin-right: 10px;
    padding: 0.5rem;
    border-radius: 50%;
}

.text span {
    display: block;
    font-size: 0.8rem
}

.text span:nth-child(1) {
    font-weight: bold;
}

.text span:nth-child(2) {
    color: #B1B1B1;
    text-decoration: underline;
}

/* // new messages */
/*  search */
.search .input {
    width: 100%;
}

.search input {
    width: 100%;
    padding: 0.5rem 0.1rem;
    border: none;
    outline: none;
}

/* // search */
/* contact list */
.contact-list {
    height: 70%;
    overflow-y: auto;
}

.contact-list * {
    cursor: pointer;
}

.contact-list img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
    margin-bottom: 0.5rem;
    margin-right: 10px;
}

.contact-list .name {
    display: block;
    font-weight: bold;
}

.contact-list .message {
    color: #B1B1B1;
    font-size: 0.8rem;
}

.selected-contact {
    background-color: #EAEAEA;
}

/* // contact list */
/* // sidebar */
/* main content section */
.chat-window {
    background-color: #fff;
    width: 70%;
    display: flex;
    flex-direction: column;
}

/* header */
.chat-header {
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #EAEAEA;
    padding: 1rem;
    border-bottom: 1px solid #ddd;
}

.contact-img img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius: 50%;
    object-fit: cover;
}

.contact-text span {
    font-weight: bold;
}

.left-side {
    display: flex;
    align-items: center;
    padding: 0.5rem;
}

.chat-actions {
    width: 10%;
    justify-content: space-between;
    display: flex;
}

/* // header */
/* content */
.chat-content {
    background-size: auto;
    flex-grow: 1;
    padding: 1rem;
    overflow-y: auto;
}

.received-message {
    background-color: white;
    align-self: flex-start;
    border-radius: 25px;
    margin: 10px;
    max-width: 70%;
}

.sent-message {
    background-color: #DCF8C6;
    align-self: flex-end;
    border-radius: 25px;
    margin: 10px;
    max-width: 70%;
}

.message-container {
    padding: 5px;
    margin: 10px;
    max-width: 90%;
    display: flex;
    position: relative;
}

.message-text {
    word-wrap: break-word;
    max-width: 90%;
}

.flex {
    display: flex;
    flex-direction: column;
}

.message-option,
.message-date {
    font-size: 0.6rem;
    color: #B1B1B1;
}

.message-option {
    margin-bottom: 0.5rem;
    display: none;
    position: absolute;
    top: 0;
    right: 0;
}

.message-container:hover .message-option {
    display: block;
    cursor: pointer;
}

.right-side {
    margin-left: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

/* // content */
/* input message */
.chat-input {
    background-color: #EAEAEA;
    height: 10%;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.chat-input li:nth-child(2) {
    width: 75%;
}

.chat-input input {
    width: 100%;
    padding: 0.5rem;
    margin: 0 1rem;
    border: 1px solid #ddd;
    border-radius: 15px;
    outline: none;
}

.fa-microphone {
    margin-left: 15px;
}

/* // input message */
/* // main content section */
/* // specific rules */