<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- custom css -->
    <link rel="stylesheet" href="css/style.css">
    <!-- vue js -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <!-- fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <!-- luxon -->
    <script src="https://cdn.jsdelivr.net/npm/luxon@3.3.0/build/global/luxon.min.js"></script>
    <title>Boolzapp</title>
</head>

<body>
    <div class="app">

        <div class="container">
            <!-- sidebar -->
            <div class="sidebar">
                <!-- user -->
                <div class="user bg-user">
                    <div class="user-image">
                        <a href="#"><img src="img/avatar_io.jpg" alt="user-image"></a>
                        <span>Sofia</span>
                    </div>
                    <ul class="icons">
                        <li><a href="#"><i class="fa-solid fa-circle-notch"></i></a></li>
                        <li><a href="#"><i class="fa-solid fa-message"></i></a></li>
                        <li><a href="#"><i class="fa-solid fa-ellipsis-vertical"></i></a></li>
                    </ul>
                </div>
                <!-- // user -->
                <!-- new messages notifications -->
                <div class="new-messages user">
                    <div class="icon">
                        <a href="#"><i class="fa-solid fa-bell-slash"></i></a>
                    </div>
                    <div class="text">
                        <span>Ricevi notifiche di nuovi messaggi</span>
                        <span>Attiva notifiche desktop</span>
                    </div>
                </div>
                <!-- // new messages notifications -->
                <!-- search -->
                <div class="search user new-messages">
                    <div class="icon">
                        <i class="fas fa-search"></i>
                    </div>
                    <div class="input">
                        <input type="search" placeholder="Cerca o inizia una nuova chat" v-model="searchTerm">
                    </div>
                </div>
                <!-- // search -->
                <!-- contact list -->
                <div class="contact-list">
                    <div v-for="(contact, index) in filteredContacts" :key="index"
                        v-bind:class="{ 'selected-contact': selectedContact === contact }"
                        v-on:click="selectContact(contact)">
                        <div class="left-side">
                            <div>
                                <img :src="`${contact.image}`" alt="contact-image">
                            </div>
                            <div>
                                <span class="name">{{contact.name}}</span>
                                <span class="message">{{ contact.messages.slice(-1)[0].message }}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- // contact list -->
            </div>
            <!-- // sidebar -->
            <!-- main content -->
            <div class="chat-window">
                <!-- header main content -->
                <div class="chat-header">
                    <div class="left-side">
                        <div class="contact-img">
                            <img v-if="selectedContact" :src="selectedContact.image" alt="contact-image">
                        </div>
                        <div class="contact-text">
                            <span v-if="selectedContact">{{selectedContact.name}}</span>
                        </div>
                    </div>
                    <ul class="chat-actions">
                        <li><a href="#"><i class="fas fa-search"></i></a></li>
                        <li><a href="#"><i class="fa-solid fa-paperclip"></i></a></li>
                        <li><a href="#"><i class="fa-solid fa-ellipsis-vertical"></i></a></li>
                    </ul>
                </div>
                <!-- // header main content -->
                <!-- chat body -->
                <div class="chat-content" style="background-image: url('img/mine.jpg');">
                    <div v-if="selectedContact" class="flex">
                        <div v-for="(message, index) in selectedContact.messages" :key="index"
                            :class="{ 'sent-message': message.status === 'sent', 'received-message': message.status === 'received' }">
                            <div class="message-container">
                                <div class="message-text">{{ message.message }}</div>
                                <div class="message-date">{{ message.date.slice(11, 16) }}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- // chat body -->
                <!-- input message -->
                <div class="chat-input">
                    <a href="#"><i class="fa-solid fa-face-smile"></i></a>
                    <input type="text" placeholder="Scrivi..." v-model="newMessage" @keyup.enter="sendMessage">
                    <a href="#" @click="sendMessage"><i class="fa-solid fa-paper-plane"></i></a>
                    <a href="#"><i class="fa-solid fa-microphone"></i></a>
                </div>
                <!-- // input message -->
            </div>
            <!-- // main content -->
        </div>

    </div>
    <!-- js -->
    <script src="js/script.js"></script>
</body>

</html>